<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/nav.css">
	{{#each this.css}}
		<link rel="stylesheet" href="/assets/css/{{this}}.css">
	{{/each}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="page">
	{{> nav}}
	{{{ body}}}
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>