.main {
  flex: 1;
  position: relative;
  width: 80%;
  margin: auto; }
  .main a {
    display: block;
    color: black;
    text-decoration: none; }
  .main .category {
    display: grid;
    grid-template-columns: 20% 42% 35%;
    justify-content: space-between;
    margin: 30px auto;
    font-size: 15px; }
    .main .category .category-content {
      background-color: white;
      border-radius: 5px;
      position: relative;
      display: inline-block; }
      .main .category .category-content .category-item {
        width: 100%;
        background-color: white;
        border-radius: 5px; }
        .main .category .category-content .category-item:first-child a {
          font-size: 20px;
          font-weight: bold;
          background-color: #333D49;
          color: white;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
          .main .category .category-content .category-item:first-child a:hover {
            color: white; }
          .main .category .category-content .category-item:first-child a i {
            color: white;
            font-size: 25px; }
        .main .category .category-content .category-item a {
          padding: 10px;
          display: grid;
          grid-template-columns: 20% 80%;
          align-items: center;
          justify-content: flex-start;
          border-bottom: 1px solid whitesmoke; }
          .main .category .category-content .category-item a i {
            justify-self: center;
            color: grey; }
          .main .category .category-content .category-item a:last-child {
            border-bottom: none; }
        .main .category .category-content .category-item:hover {
          background-color: #d6d3d3; }
          .main .category .category-content .category-item:hover a {
            color: white; }
        .main .category .category-content .category-item:hover .sub-category-content {
          display: inline; }
        .main .category .category-content .category-item .sub-category-content {
          z-index: 1;
          display: none;
          position: absolute;
          background-color: white;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          width: 100%;
          top: 10%;
          left: 100%;
          border-radius: 5px;
          border: 1px solid white; }
          .main .category .category-content .category-item .sub-category-content a {
            padding: 10px;
            display: grid;
            grid-template-columns: 20% 80%;
            align-items: center;
            justify-content: flex-start;
            color: black; }
            .main .category .category-content .category-item .sub-category-content a i {
              justify-self: center;
              color: grey; }
            .main .category .category-content .category-item .sub-category-content a:hover {
              background-color: #d6d3d3;
              color: white; }
    .main .category .slide-show-content {
      border-radius: 5px; }
      .main .category .slide-show-content img {
        width: 100%;
        height: 100%; }
    .main .category .ads-img-content {
      display: grid;
      width: 100%;
      grid-template-columns: 49% 49%;
      align-content: space-between;
      justify-content: space-between; }
      .main .category .ads-img-content img {
        border-radius: 5px;
        width: 100%;
        height: 32%; }
  .main .topic-recommend {
    margin: 100px auto; }
    .main .topic-recommend p {
      font-size: 25px;
      font-weight: 900;
      padding-bottom: 15px;
      font-weight: bold;
      color: #48515C; }
      .main .topic-recommend p:hover {
        filter: brightness(110%); }
    .main .topic-recommend .topic-recommend-content {
      display: grid;
      grid-template-columns: 19.5% 19.5% 19.5% 19.5% 19.5%;
      grid-row-gap: 10px;
      justify-content: space-between; }
      .main .topic-recommend .topic-recommend-content .topic-recommend-item {
        text-align: center;
        border: 1px solid orangered;
        border-radius: 5px;
        padding: 15px 0px; }
        .main .topic-recommend .topic-recommend-content .topic-recommend-item a {
          color: #FE5616;
          font-size: 18px;
          font-weight: bold; }
        .main .topic-recommend .topic-recommend-content .topic-recommend-item:hover {
          filter: brightness(90%); }
  .main .basic-course {
    margin: 100px 0px; }
    .main .basic-course a:first-child {
      font-size: 25px;
      font-weight: 900;
      padding-bottom: 15px;
      font-weight: bold; }
      .main .basic-course a:first-child:hover {
        filter: brightness(110%); }
    .main .basic-course .basic-content {
      display: grid;
      grid-template-columns: 19% 19% 19% 19% 19%;
      grid-row-gap: 10px;
      justify-content: space-between; }
      .main .basic-course .basic-content .basic-item {
        background-color: white;
        transition: 0.3s;
        border-radius: 5px;
        padding-bottom: 5px;
        position: relative;
        height: 300px; }
        .main .basic-course .basic-content .basic-item p {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 3px 10px; }
          .main .basic-course .basic-content .basic-item p span {
            margin-right: 10px; }
        .main .basic-course .basic-content .basic-item .course-img {
          width: 100%;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          height: 50%; }
          .main .basic-course .basic-content .basic-item .course-img:hover {
            filter: brightness(90%); }
        .main .basic-course .basic-content .basic-item:hover {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); }
        .main .basic-course .basic-content .basic-item p:nth-child(2) {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          height: 23%;
          font-weight: bold;
          font-size: 18px; }
        .main .basic-course .basic-content .basic-item p:nth-child(3) {
          font-size: 14px; }
        .main .basic-course .basic-content .basic-item p:nth-child(4) {
          font-size: 14px; }
          .main .basic-course .basic-content .basic-item p:nth-child(4) span:first-child {
            color: #EB8A2F;
            font-weight: bold;
            font-size: 17px; }
        .main .basic-course .basic-content .basic-item p:nth-child(5) span:first-child {
          font-weight: bold;
          font-size: 17px; }
        .main .basic-course .basic-content .basic-item p:nth-child(5) span:last-child {
          text-decoration: line-through;
          font-size: 15px; }
        .main .basic-course .basic-content .basic-item p:nth-child(6) span {
          padding: 5px;
          border-radius: 5px;
          font-size: 13px;
          position: absolute;
          top: 10px;
          left: 10px;
          font-weight: bold; }
