nav {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-auto-rows: 100%;
  align-items: center;
  height: 60px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
  nav .logo {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 100px auto;
    grid-column-gap: 20px;
    align-items: center; }
    nav .logo img {
      background-color: gray;
      height: 60px; }
    nav .logo .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      border: 1px solid #238688;
      border-radius: 20px; }
      nav .logo .search input {
        outline: none;
        border: none;
        height: 100%;
        width: auto;
        flex: 1;
        border-radius: 20px; }
      nav .logo .search i {
        padding: 10px; }
  nav .routes {
    margin: 0 20px; }
    nav .routes ul {
      display: flex; }
      nav .routes ul li {
        list-style: none;
        display: flex;
        align-items: center;
        height: 50px; }
        nav .routes ul li a {
          padding: 10px;
          width: 75px;
          text-decoration: none;
          border-radius: 10px;
          color: #1f1f1f;
          text-align: center; }
          nav .routes ul li a:hover {
            background-color: #eaeaea; }
          nav .routes ul li a:active {
            color: blue; }
          nav .routes ul li a i {
            font-size: 30px; }
  nav .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    justify-self: flex-end;
    background-color: #efefef;
    padding: 2px 10px 2px 2px;
    height: 34px;
    border-radius: 17px; }
    nav .profile .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
      background-color: #b0b0b0; }
    nav .profile .name {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      nav .profile .name span {
        margin-right: 5px; }
      nav .profile .name i {
        margin-top: 2px; }
