.cart{
    padding: 20px 15%;
    .header{
        padding: 30px 20%;
        background-color: #505763;
        width: 140%;
        margin-left: -20%;
        p{
            color: white;
            &:last-child{
                font-size: 30px;
                margin-top: 10px;
            }
        }
        i{
            color: grey;
            font-size: 14px;
        }
    }
    .cart-item{
        display: grid;
        grid-template-columns: 80% 20%;
        .list{
            display: grid;
            grid-template-columns: 20% 60% 10% 10%;
            div{
                display: flex;
                flex-direction: column;
            }
            img{
                width: 100%;
            }
        }
    }
}