.footer{
    display: none;
}
.nav{
    display: none;
}
.top-category{
    display: none;
}
.user-learning{
    flex: 1;
    position: relative;
    width: 80%;
    margin: 50px auto;
    //border: 1px solid black;
    a{
      display: block;
      color: black;
      text-decoration: none;
    }
    button{
        border: none;
        outline: none;
        cursor: pointer;
    }
    @mixin courseInfo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2px;
        color: gray;
        span{
          margin-right: 10px;
        }
    }
    @mixin headlineInfo{
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 20px;
        font-weight: bold;
        &:hover{
          filter: brightness(110%);
        }
    }
    .fixed-user-info{
        background-color:#F4F4F4;
        //border: 1px solid black; 
        height: 100%;
        width: 280px;
        position: fixed;
        z-index: 1;
        top: 50px;
        bottom: 20px;
        left: 153px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        .user-avatar{
            text-align: center;
            img{
                display: block;
                margin: 0px auto;
                &:nth-child(2){
                    margin: 20px auto;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }
            p{
                &:nth-child(3){
                    font-size: 18px;
                    padding-bottom: 10px;
                    font-weight: bold;
                }
                &:nth-child(4){
                    color: #A3A4A4;
                    padding-bottom: 10px;
                }
            }
        }
        hr{
            margin: 10px auto;
            background-color: rgb(194, 192, 192);
            width: 90%;
        }
        .user-choice{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0px auto;
            //padding: 25px;
            button{
                display: block;
                text-align: left;
                width: 100%;
                color: #666984;
                background-color: transparent;
                padding: 10px 0px;
                font-size: 17px;
                //border: 1px solid black;
                margin: 5px 0px;
                display: flex;
                align-items: center;
                i{
                    flex-basis: 11%;
                    font-size: 20px;
                }
                &:hover{
                    color: black;
                    background-color: #d3d4d8;
                }
            }
        }
    }
    .user-courses{
        margin-left: 330px;
        //border: 1px solid black;
        .course-info{
            p{
                font-size: 25px;
                font-weight: bold;
            }
            input{
                margin-top: 20px;
                margin-right: 20px;
                background-color: #ECEDF1;
                padding: 20px;
                width: 50%;
                border: none;
                border-radius: 5px;
                outline: none;
            }
            button{
                background-color: #FFFFFF;
                padding: 15px;
                font-size: 16px;
                border: 1px solid rgb(209, 203, 203);
                border-radius: 5px;
                &:hover{
                    filter: brightness(80%);
                }
            }
        }
        .basic-course{
            padding: 20px 0px;
            .basic-content{
              display: grid;
              grid-template-columns: 30% 30% 30%;
              grid-row-gap: 30px;
              justify-content: space-between;
              .basic-item{
                background-color: white;
                transition: 0.3s;
                border-radius: 5px;
                padding-bottom: 5px;
                position: relative;
                height: 300px;
                p{
                  @include courseInfo();
                  padding: 3px 10px;
                  color: black;
                  span{
                      margin-right: 5px;
                  }
                }
                .course-img{
                  width: 100%;
                  border-top-left-radius: 5px;
                  border-top-right-radius: 5px;
                  height: 50%;
                  &:hover{
                    filter: brightness(90%);
                  }
                }
                &:hover{
                  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
                }
                p{
                  &:nth-child(2){
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    height: 23%;
                    font-weight: bold;
                    font-size: 18px;
                  }
                  &:nth-child(3){
                    font-size: 14px;
                    font-weight: normal;
                  }
                  &:nth-child(4){
                    font-size: 14px;
                    span{
                      &:first-child{
                        color: #EB8A2F;
                        font-weight: bold;
                        font-size: 17px;
                      }
                    }
                  }
                  &:nth-child(5){
                    span{
                      &:first-child{
                        font-weight: bold;
                        font-size: 17px;
                      }
                      &:last-child{
                        text-decoration: line-through;
                        font-size: 15px;
                      }
                    }
                  }
                  &:nth-child(6){
                    span{
                      padding: 5px;
                      border-radius: 5px;
                      font-size: 13px;
                      position: absolute;
                      top: 10px;
                      left: 10px;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
        }
    }
}