<section class="cart">
    <div class="header">
        <p><i class="fas fa-home"></i> &nbsp;&nbsp;/&nbsp;&nbsp; Shopping Cart</p>
        <p>Shopping Cart</p>
    </div>
    <P>1 Course in cart</P>
    <div class="cart-item">
        <div class="list">
            <img src="https://img-b.udemycdn.com/course/240x135/903744_8eb2.jpg?secure=6OEg3YFKdWzRcqtP-LU0Hg%3D%3D%2C1607233656" alt="">
            <div>
                <p>Python for Data Science and Machine Learning Bootcamp</p>
                <p>By Jose Portilla, Head of Data Science, Pierian Data Inc.</p>
            </div>
            <div>
                <p>Remove</p>
                <p>Save for later</p>
            </div>
            <p>$129.99<i class="fas fa-tags"></i></p>
        </div>
        <div class="checkout">
            <p>Total</p>
            <p>$129.99</p>
            <button class="chechout-btn">Checkout</button>
            <form action="">
                <input type="text" placeholder="Enter coupon">
                <button>Apply</button>
            </form>
        </div>
    </div>
</section>